*{
    padding: 0;
    margin:0;
}

h1{
    text-align: center;
    color:white;
    padding: 200px;
}


nav ul {
    background-color: grey;
    width: 15%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display:inline-flex;
}
nav a {
    text-decoration: none;
    color:white;
    padding:10px;
    width: 150px;
}
nav li hover{
    background-color: black;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.contenido {
    display: flex;
    margin: 60px;
}
.articulos {
    width: 80%;
    border-right: 3px solid black;
}
.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
}
.menu-secundario {
    width:30px;
    margin-top: 60px;
}
.menu-secundario a {
    display:black;
    text-align: center;
    margin-bottom: 20px;
    color:black;
    width: 10px;
}
footer {
    width: 100%;
    height: 150px;
    background-color: coral;
    color:white;
    margin-top: 40px;
}
footer p {
    text-align: center;
    padding: 30px ;
}
footer div {
    text-align: center;
    padding: 2px ;
}